.about-banner,
.about-banner-2 {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.about-banner > * {
  width: 100%;
  margin: auto;
}
.about-banner > img {
  height: 24rem;
  object-fit: cover;
  object-position: center;
}
.about-banner > div {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.about-banner-2 {
  margin-top: 3rem;
}
.about-banner-2 > img {
  width: 30%;
  object-fit: cover;
  object-position: center;
}
.about-banner-2 > div {
  margin: auto;
  width: 70%;
}
.about-banner-2 > div > p:last-child {
  margin-bottom: 0;
}

.stat > h3 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1;
  margin-bottom: 0.5rem;
}
.stat > p {
  margin: 0;
}

@media (max-width: 800px) {
  .about-banner{
    flex-direction: column;
  }
  .about-banner > img {
    height: 20rem;
  }
  .about-banner-2 {
    flex-direction: column-reverse;
  } 
  .about-banner-2 > img {
    width: 100%;
    height: 75vh;
    object-position: center 40%;
    margin-block: 1rem;
  }
  .about-banner-2 > div {
    width: 100%;
  }
}
