@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Quicksand:wght@300..700&display=swap');

body {
  font-family: "Quicksand", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  font-style: normal;
  font-optical-sizing: auto;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.87);
  background-color: white;
}

main {
  margin: 0 1rem;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}
h1 {
  font-family: "Baloo 2", system-ui, sans-serif;
  font-size: 2.5rem;
  margin-bottom: 2rem;
  font-weight: 900;
}
h2 {
  font-size: 2rem;
  font-weight: 700;
  font-family: "Baloo 2", system-ui, sans-serif;
  margin-bottom: 1.5rem;
  margin-top: 3rem;
}
h2:first-child {
  margin-top: 0;
}

p {
  margin-bottom: 1.5rem;
  max-width: 780px;
}

ul {
  list-style: disc;
  padding-inline-start: 1.5rem;
}
ul li {
  padding-inline-start: 1rem;
}

img {
  display: block;
  border-radius: 8px;
}

.topbar {
  padding: 0 1rem;
  height: 80px;
  display: flex;
  background-color: white;
}
.topbar > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  max-width: 1000px;
  margin: 0 auto;
}
.topbar > div > nav > ul {
  display: flex;
  gap: 1rem;
  list-style: none;
  padding: 0;
}
.topbar > div > nav > ul > li {
  padding: 0;
}
.topbar li a {
  display: block;
  padding: 0.375rem 0.75rem;
  font-size: 1.25rem;
  font-weight: 500;
  text-decoration: none;
  color: inherit;
  border-radius: 999px;
  transition: color 0.1s;
}
.topbar li a:hover {
  color: rgb(204, 45, 45);
}
.topbar li a.active {
  color: rgb(204, 45, 45);
  font-weight: 700;
}

.box {
  margin: 0 auto;
  padding: 2rem;
  max-width: 1000px;
  background-color: white;
  border-radius: 8px;
}

@media (max-width: 900px) {
  ul li {
    padding-inline-start: 0.5rem;
  }

  .box {
    padding: 1rem;
  }
}

@media (max-width: 600px) {
  main {
    margin: 0;
  }
}
